# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# package managers
.pnpm-store/
.pnpm-debug.log*

# IDE
.vscode
!.vscode/extensions.json

# logs
npm-debug.log*
pnpm-debug.log*

# environment variables
.env
.env.production
.env*

# macOS-specific files
.DS_Store
