@use "sass:list";

$_spaces: 3xs 2xs xs s m l xl 2xl 3xl 4xl;

@function space($name) {
  $targetSpace: null;
  @each $_space in $_spaces {
    @if $_space == $name {
      $targetSpace: $_space;
    }
  }

  @if ($targetSpace == null) {
    @error "There is no space variable with index #{$name}";
  }

  @return var(--space-#{$targetSpace});
}
