@use "normalize.css" as *;
@use "fluid.scss";
@use "colors.scss";
@use "mobile-menu.scss" with (
  $mobile-menu-layer-width: 20px,
  $mobile-menu-padding-y: 0.2em,
  $mobile-menu-padding-x: 0.2em,
  $mobile-menu-layer-color: colors.color(secondary),
  $mobile-menu-active-layer-color: colors.color(accent),
  $mobile-menu-layer-height: 2px,
  $mobile-menu-layer-spacing: 3px
);

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: fluid.space(2xs) 0 0;
}
