@use "media.scss";

$contentMaxWidth: 912px;

@mixin contentMaxWidth() {
  width: $contentMaxWidth;
  margin: 0 auto;

  @include media.tablet {
    width: 100%;
    padding: 0 1rem;
  }
}

@mixin centerHeaders {
  h2,
  h3,
  h4 {
    text-align: center;
  }
}

@mixin skipIfNoMotionPrefered {
  @media (prefers-reduced-motion: no-preference) {
    @content;
  }
}

@mixin onlyIfNoMotionPrefered {
  @media (prefers-reduced-motion: reduce) {
    @content;
  }
}
