@use "sass:math";

$mobile-menu-padding-x: 15px !default;
$mobile-menu-padding-y: 15px !default;
$mobile-menu-layer-width: 40px !default;
$mobile-menu-layer-height: 4px !default;
$mobile-menu-layer-spacing: 6px !default;
$mobile-menu-layer-color: black !default;
$mobile-menu-layer-border-radius: 4px !default;
$mobile-menu-hover-opacity: 0.7 !default;
$mobile-menu-active-layer-color: $mobile-menu-layer-color !default;

$mobile-menu-hover-filter: opacity(50%) !default;
$mobile-menu-active-hover-filter: $mobile-menu-hover-filter !default;

.mobile-menu {
  padding: $mobile-menu-padding-y $mobile-menu-padding-x;
  display: inline-block;
  cursor: pointer;

  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;

  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  &:hover {
    filter: $mobile-menu-hover-filter;
  }

  &.is-active {
    &:hover {
      filter: $mobile-menu-active-hover-filter;
    }

    .mobile-menu-inner,
    .mobile-menu-inner::before,
    .mobile-menu-inner::after {
      background-color: $mobile-menu-active-layer-color;
    }

    .mobile-menu-inner {
      transform: translate3d(0, ($mobile-menu-layer-spacing + $mobile-menu-layer-height) * -1, 0) rotate(-45deg);
      transition-delay: 0.22s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::after {
        top: 0;
        opacity: 0;
        transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
      }

      &::before {
        top: 0;
        transform: rotate(-90deg);
        transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
          transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

.mobile-menu-box {
  width: $mobile-menu-layer-width;
  height: $mobile-menu-layer-height * 3 + $mobile-menu-layer-spacing * 2;
  display: inline-block;
  position: relative;
}

.mobile-menu-inner {
  display: block;
  top: 50%;
  margin-top: math.div($mobile-menu-layer-height, -2);
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

  &,
  &::before,
  &::after {
    width: $mobile-menu-layer-width;
    height: $mobile-menu-layer-height;
    background-color: $mobile-menu-layer-color;
    border-radius: $mobile-menu-layer-border-radius;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: ($mobile-menu-layer-spacing + $mobile-menu-layer-height) * -1;
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
      transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  &::after {
    bottom: ($mobile-menu-layer-spacing + $mobile-menu-layer-height) * -1;
    top: ($mobile-menu-layer-spacing * 2 + $mobile-menu-layer-height * 2) * -1;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
  }
}
