$palette: (
  light: (
    "main": rgb(125, 229, 237),
    "secondary": rgb(129, 198, 232),
    "tertiary": rgb(93, 167, 219),
    "accent": rgb(88, 55, 208),
    "light": #ffffff,
    "dark": #000000,
  ),
  dark: (
    "main": rgb(15, 4, 76),
    "secondary": rgb(20, 30, 97),
    "tertiary": rgb(120, 122, 145),
    "accent": rgb(238, 238, 238),
    "light": #000000,
    "dark": #ffffff,
  ),
);

$text: (
  light: (
    "main": #42446e,
    "secondary": #666666,
  ),
  dark: (
    "main": #42446e,
    "secondary": #666666,
  ),
);
