@use "sass:color";
@use "sass:map";

$palette: (
  // https://colorhunt.co/palette/7de5ed81c6e85da7db5837d0
  light:
    (
      "main": rgb(125, 229, 237),
      "secondary": rgb(129, 198, 232),
      "tertiary": rgb(93, 167, 219),
      "accent": rgb(88, 55, 208),
      "light": rgb(255, 255, 255),
      "dark": rgb(25, 25, 25),
    ),
  // https://colorhunt.co/palette/0f044c141e61787a91eeeeee
  dark:
    (
      "main": rgb(15, 4, 76),
      "secondary": rgb(26, 108, 209),
      "tertiary": rgb(120, 122, 145),
      "accent": rgb(238, 238, 238),
      "light": rgb(25, 25, 25),
      "dark": rgb(229, 234, 250),
    )
);

$text: (
  light: (
    "main": rgb(66, 68, 110),
    "secondary": rgb(117, 117, 117),
    "secondary-hover": color.adjust(rgb(117, 117, 117), $lightness: -30%),
  ),
  dark: (
    "main": rgb(217, 217, 217),
    "secondary": rgb(167, 167, 167),
    "secondary-hover": color.adjust(rgb(167, 167, 167), $lightness: 30%),
  ),
);
