@mixin applyTextGradient($gradientImage) {
  background-image: $gradientImage;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
}
