---
import Emoji from "astro-emoji";
const { id: nodeId } = Astro.props;
const baseImageDimension = 256;
---

<summary id={nodeId}>
  <section class="intro">
    <h1>
      Hi <Emoji symbol="👋" label="Hi" />, <br />My name is <br /><span
        class="text-gradient">Roman Rolgin</span
      ><br />
    </h1><h2>I build web apps</h2>
  </section>
  <section class="photo">
    <div class="border">
      <img
        class="profile-photo"
        alt="Roman Rolgin photo"
        width={baseImageDimension - 14}
        height={baseImageDimension - 14}
        src="avatar-photo-sq.jpg"
      />
    </div>
  </section>
</summary>
<style lang="scss">
  @use "styles.scss" as utils;

  .text-gradient {
    @include utils.applyTextGradient(var(--accent-gradient));
    // background-image: var(--accent-gradient);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // background-size: 400%;
    // background-position: 0%;
  }

  summary {
    display: grid;
    grid-template-areas: "intro photo";
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
    @include utils.contentMaxWidth();
    padding: 1rem 0 2rem;
    min-height: 70vh;
  }

  h1 {
    margin: 0;
    @include utils.font(heading, xl);
    color: utils.text-color(main);
  }

  h2 {
    margin: 1rem 0 0;
    @include utils.font(heading, xl);
    color: utils.text-color(secondary);
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .photo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    user-select: none;
    pointer-events: none;
  }

  .border {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
      0deg,
      #{utils.color(secondary)} 0%,
      #{utils.color(main)} 30%,
      #{utils.color(accent)} 60%
    );
    width: 256px;
    height: 256px;
    border-radius: 50%;
  }

  .profile-photo {
    border-radius: 50%;
    object-fit: cover;
    object-position: center 25%;
    // box-shadow: utils.color("accent") 0px 0px 0px 12px;
  }
</style>
