---
const { id: nodeId } = Astro.props;
---

<summary id={nodeId}>
  <section class="intro">
    <h1>
      Hi 👋, <br />My name is <br /><span class="text-gradient"
        >Roman Rolgin</span
      ><br />
    </h1><h2>I build web apps</h2>
  </section>
  <section class="photo">
    <img
      class="profile-photo"
      alt="Roman Rolgin photo"
      width="256"
      src="https://lookyourbestbeyourbest.files.wordpress.com/2011/11/image-3.jpeg"
    />
  </section>
</summary>
<style lang="scss">
  @use "styles.scss" as utils;

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  summary {
    display: grid;
    grid-template-areas: "intro photo";
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
    @include utils.contentMaxWidth();
    padding: 4rem 0 0;
  }

  h1 {
    margin: 0;
    @include utils.font(heading, xl);
    color: utils.text-color(main);
  }

  h2 {
    margin: 1rem 0 0;
    @include utils.font(heading, xl);
    color: utils.text-color(secondary);
  }

  .photo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .profile-photo {
    border-radius: 50%;
    box-shadow: utils.color("accent") 0px 0px 0px 12px;
  }
</style>
