---
import { links } from "../../const";
import { Icon } from "astro-icon";

const { class: classNames, ...rest } = Astro.props;
---

<section class="contacts" {...rest}>
  <h2>Contacts</h2>
  <h3>Don't hesitate to reach me out</h3>
  <ul>
    <li>
      <a
        href={"mailto:" + links.mail + "?subject=Hi%20Roman%2C%20I%20have%20a%20question."}
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon width="1em" height="1em" name="mdi:email-outline" aria-label="Email logo" />
        Contact me with e-mail
      </a>
    </li>
    <li>
      <a href={links.telegram} target="_blank" rel="noopener noreferrer">
        <Icon width="1em" height="1em" name="mdi:telegram" aria-label="Telegram logo" />
        Contact me with Telegram
      </a>
    </li>
  </ul>
</section>
<style lang="scss">
  @use "styles.scss" as utils;
  @include utils.centerHeaders();

  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: utils.space(m) 0 utils.space(xs);
  }

  h2 {
    margin: 0;
    @include utils.font(heading, m);
    color: utils.text-color("main");
  }

  h3 {
    margin: utils.space(xs) 0 utils.space(2xs);
    @include utils.font(text, l);
    color: utils.text-color("main");
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: utils.space(2xs);
  }

  li {
    @include utils.font(text, m);
    color: utils.text-color(secondary);

    @include utils.skipIfNoMotionPrefered() {
      transition: color 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    &:hover {
      color: utils.text-color(secondary-hover);
    }

    a {
      display: flex;
      gap: 0.4em;
      align-items: center;
      @include utils.applyTextGradient(
        linear-gradient(45deg, #{utils.color("accent")}, #{utils.color("secondary")} 30%)
      );
      border-radius: 8px;
      padding: 0.75em 0.5em;

      @include utils.skipIfNoMotionPrefered() {
        transition-property: transform, box-shadow;
        transition-duration: 0.2s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      }

      &:hover {
        transform: translateY(2px) scale(1.01);
        box-shadow: 0 0 3px 0 utils.color(accent), 2px 2px 0 0 utils.color(secondary);
      }
    }
  }
</style>
