---
import { links } from "../../const";
const { id: nodeId } = Astro.props;
---

<section id={nodeId} class="contacts">
  <h2>Contacts</h2>
  <h3>Don't hesitate to reach me out</h3>
  <ul>
    <li>
      <a href={links.telegram} target="_blank">
        <i class="ph ph-telegram-logo"></i>
        Contact me with Telegram
      </a>
    </li>
    <li>
      <a
        href={"mailto:" +
          links.mail +
          "?subject=Hi%20Roman%2C%20Happy%20to%20reach%20you!"}
        target="_blank"
      >
        <i class="ph ph-envelope"></i>
        Contact me with E-mail
      </a>
    </li>
  </ul>
</section>
<style lang="scss">
  @use "styles.scss" as utils;
  @include utils.centerHeaders();
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 0 2rem;
  }
  h2 {
    margin: 1rem 0 0;
    @include utils.font(heading, m);
    color: utils.text-color("main");
  }

  h3 {
    @include utils.font(text, m);
    color: utils.text-color("main");
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    font-size: 36px;
  }
  li {
    @include utils.font(text, m);
    color: utils.text-color(secondary);
    transition: color 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover {
      color: utils.text-color(secondary-hover);
    }

    a {
      display: block;
      @include utils.applyTextGradient(
        linear-gradient(
          45deg,
          #{utils.color("accent")},
          #{utils.color("secondary")} 30%
        )
      );
      transition: transform 0.2s ease-out;

      &:hover {
        transform: translateY(2px) scale(1.01);
      }
    }
  }
</style>
