---
import ProjectCard from "../ProjectCard.astro";
const { class: classNames, ...rest } = Astro.props;
const projects = [
  {
    projectName: "blabla",
    imageUrl:
      "https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2",
    description: "There is one of the most stupid project",
    githubLink: "https://github.com/RolginRoman",
  },
  {
    projectName: "blabla",
    imageUrl:
      "https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2",
    description: "There is one of the most stupid project",
    githubLink: "https://github.com/RolginRoman",
  },
  {
    projectName: "blabla",
    imageUrl:
      "https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2",
    description: "There is one of the most stupid project",
    githubLink: "https://github.com/RolginRoman",
  },
];
---

<section class="projects" {...rest}>
  <h2>Projects</h2><h3>Things I've worked on in the recent past</h3>
  <article>
    <p>
      Software engineer with more than 8 years of experience in web development. Proficient in frontend frameworks like
      Angular, Typescript, and system architecture.
    </p>
    <p>
      Moreover, I led teams with guidance to projects' completion. Passionate about user-centric design, UX and business
      metrics optimisations via development and people management.
    </p>
  </article>
  <ul class="projects-list">
    {
      projects.map(({ projectName, description, githubLink, imageUrl }) => (
        <ProjectCard tabindex="0" tag="li" {projectName} {description} {imageUrl} {githubLink} />
      ))
    }
  </ul>
</section>
<style lang="scss">
  @use "styles.scss" as utils;
  @include utils.centerHeaders();

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 0 2rem;
  }
  h2 {
    margin: 1rem 0 0;
    @include utils.font(heading, m);
    color: utils.text-color(main);
  }

  h3 {
    @include utils.font(text, m);
    color: utils.text-color(main);
  }

  article {
    @include utils.font(caption, m);
    color: utils.text-color(secondary);
    margin: 1rem 0;
    text-align: justify;
  }

  ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
</style>
