---
import { Icon } from "astro-icon";

const { id: nodeId } = Astro.props;

const tech = [
  {
    name: "Angular",
    iconName: "logos:angular-icon",
  },
  {
    name: "Typescript",
    iconName: "logos:typescript-icon",
  },
  {
    name: "Javascript",
    iconName: "logos:javascript",
  },
  {
    name: "RxJS",
    iconName: "logos:reactivex",
  },
  {
    name: "Docker",
    iconName: "logos:docker-icon",
  },
  {
    name: "Nx",
    iconName: "logos:nx",
  },
  {
    name: "HTML5",
    iconName: "logos:html-5",
  },
  {
    name: "SASS/SCSS/CSS",
    iconName: "logos:sass",
  },
  {
    name: "git",
    iconName: "logos:git-icon",
  },
  {
    name: "Node.js",
    iconName: "logos:nodejs-icon",
  },
];
---

<section id={nodeId} class="intro">
  <h2>Tech</h2>
  <h3>Technologies I've been working with recently</h3>
  <ul>
    {
      tech.map((item) => (
        <li>
          <Icon
            name={item.iconName}
            aria-label={item.name}
            width="120"
            height="120"
          />
          <span class="tech-name">{item.name}</span>
        </li>
      ))
    }
  </ul>
</section>
<style lang="scss">
  @use "styles.scss" as utils;

  @keyframes animateTechName {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 0 2rem;
  }

  @include utils.centerHeaders();

  h2 {
    margin: 1rem 0 0;
    @include utils.font(heading, m);
    color: utils.text-color("main");
  }

  h3 {
    @include utils.font(text, m);
    color: utils.text-color("main");
  }

  ul {
    list-style: none;
    margin: 1.4rem 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    @include utils.font(caption, m);
    color: utils.text-color("secondary");
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      // box-shadow: #{utils.color("tertiary")} 0px 0px 0px 12px;
    }
  }

  [astro-icon] {
    border-radius: 8px;
    display: block;
    overflow: hidden;
  }

  [astro-icon="logos:html-5"] {
    & :global(path:nth-child(4)) {
      fill: utils.color(dark);
    }
  }

  .tech-name {
    opacity: 0;
    display: inline-block;
    margin-top: 1rem;
    cursor: default;

    li:hover & {
      animation: animateTechName 0.2s linear forwards;
    }
  }
</style>
