---
import { Icon } from "astro-icon";
export interface Props {
  width: number;
}

let { width } = Astro.props;
width ??= 96;
const widthVar = `${width}px`;
---

<div class="root">
  <Icon
    class="logo"
    name="logo"
    width="100%"
    height="100%"
    optimize={false}
    aria-label="Rolgin Roman personal logo, `RR` stands for `R`olgin `R`oman"
  />
</div>
<style define:vars={{ iconWidth: widthVar }}>
  .root {
    display: flex;
    width: var(--iconWidth);
    min-width: var(--iconWidth);
  }
</style>
