---
import { Icon } from "astro-icon";

interface Props {
  projectName: string;
  description: string;
  githubLink: string;
  tag?: string;
  [key: string]: unknown;
}

const { projectName, description, githubLink, tag = "div", class: classNames, ...rest } = Astro.props as Props;
const Tag = tag;
---

<Tag class:list={["card"]} {...rest}>
  <slot name="card-image" />

  <div class="content">
    <h3>{projectName}</h3>
    <span class="description">{description}</span>
    <a class="link" href={githubLink} aria-label="View Code" target="_blank" rel="nofollow noopener noreferrer">
      <Icon width="1.5em" height="1.5em" name="mdi:github" aria-label="Github logo" aria-hidden="true" />
      <span>View Code</span>
    </a>
  </div>
</Tag>

<style lang="scss">
  @use "styles.scss" as *;
  .card {
    flex-direction: column;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    background-color: color(light);
    box-shadow: 0 0 3px 0 color(accent), 4px 7px 8px 0 color(secondary);

    @include skipIfNoMotionPrefered() {
      transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    &:hover,
    &:focus {
      transform: scale(1.02);
    }

    @include mobile {
      display: grid;
      grid-template-columns: 0.3fr 0.7fr;
      grid-template-rows: 1fr;
      grid-template-areas: "image content";
    }
  }

  h3 {
    margin: 6px 0 12px;
    color: text-color(main);
  }

  .content {
    padding: 8px 16px 16px;
    cursor: default;
    display: flex;
    flex-direction: column;
    flex: 1;

    @include mobile {
      grid-area: content;
    }
  }

  .description {
    color: text-color(secondary);
    flex: 1;
  }

  .link {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 1.5em;
    color: text-color(secondary);
    @include font(caption, s);

    & span {
      margin-left: 4px;
      border-bottom: 1px solid text-color(secondary);

      &:hover {
        border-color: color(accent);
      }
    }

    &:hover {
      color: color(accent);
    }
  }
</style>
