---
// https://meowni.ca/font-style-matcher/
import Layout from "@/layouts/Layout.astro";
import About from "@/sections/About.astro";
import Contacts from "@/sections/Contacts.astro";
import Projects from "@/sections/Projects.astro";
import Tech from "@/sections/Tech.astro";
import { SEO } from "astro-seo";

const baseUrl = import.meta.env.BASE_URL;
---

<Layout>
  <SEO
    slot="seo-header"
    title="I'm Rolgin Roman 🚀"
    description="Rolgin Roman's personal website with social media links and several examples of work"
    openGraph={{
      basic: {
        title: "I'm Rolgin Roman 🚀",
        type: "website",
        image: `${baseUrl}og-image.png`,
      },
    }}
    twitter={{
      creator: "@rolginroman",
    }}
    extend={{
      // extending the default link tags
      link: [{ rel: "icon", href: `${baseUrl}favicon.svg` }],
      // extending the default meta tags
      meta: [
        {
          name: "twitter:image",
          content: `${baseUrl}og-image.png`,
        },
        { name: "twitter:title", content: "I'm Rolgin Roman 🚀" },
        { name: "twitter:description", content: "Dev" },
      ],
    }}
  />
  <main>
    <About id="about" />
    <Tech id="tech" />
    <Projects id="projects" />
    <Contacts id="contacts" />
  </main>
</Layout>

<style lang="scss">
  @use "styles.scss" as utils;

  main {
    @include utils.contentMaxWidth();
    margin-top: 2rem;

    @include utils.tablet {
      margin-top: unset;
    }
  }
</style>
