---
import "../styles/global.scss";
// https://meowni.ca/font-style-matcher/
// https://fontsource.org/fonts/alata
// https://fontsource.org/fonts/inter????
import "@fontsource/alata";
import "@phosphor-icons/web/regular";
import Layout from "@/layouts/Layout.astro";
import About from "@/sections/About.astro";
import Contacts from "@/sections/Contacts.astro";
import Projects from "@/sections/Projects.astro";
import Tech from "@/sections/Tech.astro";
---

<Layout title="I'm Rolgin Roman 🚀">
  <main>
    <About id="about" />
    <Tech id="tech" />
    <Projects id="projects" />
    <Contacts id="contacts" />
  </main>
</Layout>

<style lang="scss">
  @use "styles.scss" as utils;
  main {
    @include utils.contentMaxWidth();
    margin-top: 2rem;
  }
</style>
