---
import Logo from "./Logo.astro";
import Menu from "./Menu.astro";
import Networks from "./Networks.astro";
import { Icon } from "astro-icon";
import Emoji from "astro-emoji";
---

<footer>
  <section class="content">
    <Logo width={48} />
    <Networks />
  </section>
  <section class="menu">
    <Menu align="default" />
    <spac class="tool">
      Crafted with&nbsp;<Emoji symbol="❤️" label="love" />&nbsp;and
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://astro.build"
        aria-label="Link to Astro framework website"><Icon name="logos:astro" aria-label="Astro framework" /></a
      >
    </spac>
  </section>
</footer>
<style lang="scss">
  @use "styles.scss" as utils;

  footer {
    min-height: 15vh;
    background-color: utils.color("light");
  }

  .content,
  .menu {
    @include utils.contentMaxWidth();
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    margin-top: 0.5rem;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid utils.color("accent");
    color: utils.text-color(secondary);
    transition: color 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);

    &:hover {
      color: utils.text-color(main);
    }
  }

  .tool {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    @include utils.font(caption, s);
    color: utils.text-color(secondary);
    --theme-text: utils.text-color(main);
    --theme-accent: utils.color(accent);
    cursor: default;

    @include utils.skipIfNoMotionPrefered() {
      transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    &:hover {
      color: utils.text-color(main);

      & :global(path:nth-child(4)) {
        fill: utils.text-color(main);
      }
    }
  }

  [astro-icon="logos:astro"] {
    display: inline-block;
    height: 2em;
    margin-left: 12px;

    & :global(path) {
      @include utils.skipIfNoMotionPrefered() {
        transition: fill 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }

    // TODO ultra strange styling
    & :global(path:nth-child(1)) {
      fill: utils.color(dark);
    }

    & :global(path:nth-child(4)) {
      fill: utils.text-color(secondary);
    }
  }
</style>
