---
import Logo from "./Logo.astro";
import Networks from "./Networks.astro";
import Menu from "./Menu.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header>
  <section>
    <Logo />
    <Menu />
    <Networks />
    <i class="separator"></i>
    <ThemeToggle />
  </section>
</header>
<style lang="scss">
  @use "styles.scss" as utils;

  header {
    display: flex;
    align-items: center;
  }
  section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include utils.contentMaxWidth();
  }

  .separator {
    height: 2rem;
    margin: 0 1.5rem;
    border-right: 2px solid utils.color(secondary);

    @include utils.withDark() {
      border-right: 2px solid utils.text-color(secondary);
    }
  }
</style>
