---
interface Props {
  align?: "end" | "default";
}

const { align = "end" } = Astro.props;
---

<nav class:list={[{ "-end": align === "end" }]}>
  <ul>
    <li><a href="#about">About</a></li>
    <li><a href="#tech">Skills</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#contacts">Contacts</a></li>
  </ul>
</nav>
<style lang="scss">
  @use "styles.scss" as utils;

  nav {
    display: inline-flex;
    flex: 1 1 0;

    &.-end {
      justify-content: flex-end;
    }
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    @include utils.font(caption, m);
  }

  li {
    color: utils.text-color(secondary);
    @include utils.skipIfNoMotionPrefered() {
      transition: color 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    &:hover {
      // TODO underline with animation
      color: utils.text-color(secondary-hover);
    }

    + li {
      margin-left: 3rem;
    }
  }

  a {
    text-decoration: none;
  }
</style>
