---
---

<nav>
  <ul>
    <li><a href="#about">About</a></li>
    <li><a href="#tech">Skills</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#contacts">Contacts</a></li>
  </ul>
</nav>
<style lang="scss">
  @use "styles.scss" as utils;

  nav {
    display: inline-flex;
    flex: 1 1 0;
    justify-content: flex-end;
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    @include utils.font(caption, m);
    color: utils.text-color(secondary);
  }

  li {
    + li {
      margin-left: 3rem;
    }
  }

  a {
    text-decoration: none;
  }
</style>
