---
import { links } from "../const";
const networks = [
  {
    type: "LinkedIn",
    link: links.linkedin,
  },
  {
    type: "Twitter",
    link: links.twitter,
  },
  {
    type: "Github",
    link: links.github,
  },
];
---

<ul>
  {
    networks.map((network) => (
      <li>
        <a
          class={`ph ph-${network.type.toLowerCase()}-logo`}
          target="_blank"
          href={network.link}
          aria-label={`Reach me out with ${network.type}`}
        />
      </li>
    ))
  }
</ul>
<style lang="scss">
  @use "styles.scss" as utils;

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  li {
    + li {
      margin-left: 12px;
    }
  }
  a {
    color: utils.color("tertiary");
    text-decoration: none;
    font-size: 30px;
    transition: color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover {
      color: utils.color("accent");
    }
  }
</style>
