---
import "../styles/global.scss";
import FluidDesignSystem from "@/global/FluidDesignSystem.astro";
import ThemeInjector from "@/global/ThemeInjector.astro";
import Header from "@/blocks/Header.astro";
import Footer from "@/blocks/Footer.astro";

export interface Props {
  disableInteractions?: boolean;
}

const { disableInteractions = false } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <ThemeInjector />
    <FluidDesignSystem />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <slot name="seo-header" />
  </head>

  <body class="dark" data-critters-container>
    <Header disableInteractions={disableInteractions} />
    <slot />
    <Footer />
    <style is:global lang="scss">
      @use "styles.scss" as *;

      :root {
        /* critters:include start */
        @include applyPalette();
        /* critters:include end */
        @include applyFontFace();
      }

      html {
        font-family: "Inter", "Helvetica", sans-serif;
      }

      body {
        --header-height: 62px;

        overflow-x: hidden;

        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: color(light);

        & > *:nth-child(2) {
          flex-grow: 1;
        }

        &:before {
          content: "";
          position: absolute;
          display: flex;
          width: 100vw;
          height: 130%;
          max-height: 100vh;
          background: linear-gradient(to bottom, transparent 75%, #{color("light")}) 0% 0% / 100vw 100%,
            radial-gradient(#{color("secondary", 0.5)} 0.05em, transparent 0.05em) 0% 0% / 1vmin 1vmin;
          pointer-events: none;
          z-index: -1;
        }
      }
    </style>

    <script>
      import { matchReducedMotion } from "@/scripts/media.service";
      const onScroll = () => {
        let scroll = window.pageYOffset / (document.body.offsetHeight - window.innerHeight);
        scroll = isFinite(scroll) ? scroll : 0;
        document.body.style.setProperty("--scroll", `${scroll}`);
      };

      const handleScroll = (matches: boolean) => {
        if (!matches) {
          window.addEventListener("scroll", onScroll, false);
        } else {
          window.removeEventListener("scroll", onScroll);
        }
      };

      matchReducedMotion(handleScroll);
    </script>
  </body>
</html>
